<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.staticfile.org/foundation/5.5.3/css/foundation.min.css">
        <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://cdn.staticfile.org/foundation/5.5.3/js/foundation.min.js"></script>
        <script src="https://cdn.staticfile.org/foundation/5.5.3/js/vendor/modernizr.js"></script>
    </head>
    <body>                
        <div><img src=img/splash.jpg> </div>
        <br>
        <div id="app" class=content>
            <div class="large-10 medium-7 columns">
                <p>Session ID: {{sid}}</p>
                <p id="sid" hidden>{{sid}}</p>
                <input type="text" id="uid" value="iOS7069F115-D7DC-48F3-8658-04191F4AA949">
                <button type="button" @click="login" class="button">登入</button>
                <button type="button" @click="statuz" class="button" data-reveal-id="myModal">查狀態</button>
                <button type="button" class="button" data-reveal-id="info">看公告</button>                
                <div id="myModal" class="reveal-modal xlarge" data-reveal>
                    <pre><code>{{msg}}</code></pre>
                    <a class="close-reveal-modal">&times;</a>
                </div>                
            </div>
            
            <hr>

            <div class="large-10 medium-7 columns">     
                <div id="questModel" class="reveal-modal xlarge" data-reveal>
                    <!-- table for quest -->
                    <table>
                        <thead>
                            <tr>
                                <!-- <th>類型</th> -->
                                <!-- <th>編號</th> -->
                                <th>名稱</th>
                                <th>動作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(result, index) in resultQuest">
                                <!-- <td>{{ result.QuestType }}</td> -->
                                <!-- <td>{{ result.QuestID }}</td> -->
                                <td>{{ result.Name }}</td>
                                <td><button id=questInfo type="button" @click="playQuest(result.QuestType, result.QuestID)" class="button tiny" >Play!</button></td>
                            </tr>
                        </tbody>
                    </table>
                    <a class="close-reveal-modal">&times;</a>
                </div>

                <div id="charModel" class="reveal-modal xlarge" data-reveal>
                    <!-- table for char -->
                    <table>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>稀有度</th>
                                <th>名字</th>
                                <th>Profile</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="result in resultChar">
                                <td>{{ result.cid }}</td>
                                <td>{{ result.rarity }}</td>
                                <td>{{ result.title }} - {{ result.name }}</td>
                                <td>{{ result.profile }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <a class="close-reveal-modal">&times;</a>
                </div>

                <div id="uzuModel" class="reveal-modal xlarge" data-reveal>
                    <!-- table for uzu -->
                    <table>
                        <thead>
                            <tr>
                                <th>編號</th>
                                <th>名稱</th>
                                <th>ScheduleID</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(result, index) in resultUzu">
                                <td>{{ result.ID }}</td>
                                <td>{{ result.Name }}</td>
                                <td>{{ result.ScheduleID }}</td>
                                <td><button id=uzuINfo type="button" @click="playUzu(result.ScheduleID, result.ID)" class="button tiny">Play!</button></td>
                            </tr>
                        </tbody>
                    </table>
                    <a class="close-reveal-modal">&times;</a>
                </div>

                <div id="gachaModel" class="reveal-modal xlarge" data-reveal data-options="multiple_opened:true;">
                    <!-- table for uzu -->
                    <table>
                        <thead>
                            <tr>
                                <th>稀有度</th>
                                <th>名稱</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(result, index) in resultGacha">
                                <td>{{ result.Rarity }}</td>
                                <td>{{ result.Title }} - {{ result.Name }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <a class="close-reveal-modal">&times;</a>
                </div>


				<div id="gachaInfoModel" class="reveal-modal xlarge" data-reveal>
                    <!-- table for gachaInfo -->
                    <table>
                        <thead>
                            <tr>
                                <th>封面</th>
                                <th>Info</th>                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(result, index) in resultGachaInfo">
                                <td><img :src="result.banner_url"></td>
                                <td>
                                    <template v-for="(item, index) in result.gacha_info">
                                        <br>
                                        <code>id: {{item.GachaID}}</code>
                                        <button id=questInfo type="button" @click="gacha(item.GachaID, item.GachaCount)" class="button tiny">用{{item.ItemName}}轉{{item.GachaCount}}次</button>                            
                                    </template>                                    
                                </td>                                
                            </tr>
                        </tbody>
                    </table>
                    <a class="close-reveal-modal">&times;</a>
                </div>

                <div id="info" class="reveal-modal small" data-reveal>
                    <iframe src="http://v3810.cc.mobimon.com.tw/web/info" width="500" height="500" seamless></iframe>
                </div>


                <input type="text" id="queryText" value="挑戰者的" placeholder="查點東西">                
                <button type="button" @click="queryQuest" class="button" data-reveal-id="questModel">查關卡</button>                
                <button type="button" @click="queryChar" class="button" data-reveal-id="charModel">查卡牌</button>
                <p></p>

                <hr>
                
                <label>
                    一鍵系列
                </label>
                <button type="button" @click="queryUzu" class="button" data-reveal-id="uzuModel">深淵之禍</button>
                <button type="button" disabled="disabled" @click="queryUzu" class="button" data-reveal-id="uzuModel">深淵之禍</button>

                <hr>
                <!-- <div class="row collapse prefix-radius">
                    <div class="small-3 columns">
                        <span class="prefix">卡池編號</span>
                    </div>
                    <div class="small-9 columns">
                        <input id="gachaID" type="text" placeholder="1">
                    </div>

                    <div class="small-3 columns">
                        <span class="prefix">抽卡次數</span>
                    </div>
                    <div class="small-9 columns">
                        <input id="gachaCount" type="text" placeholder="1 or 10">
                    </div>
                </div> -->

                <!-- <button type="button" @click="gacha" class="button" data-reveal-id="gachaModel">抽張卡</button> -->
                <button type="button" @click="gachaInfo" class="button" data-reveal-id="gachaInfoModel">本期轉蛋</button>
                
                
            </div>   
        </div>

    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-easytable/umd/js/index.js"></script>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/foundation/5.5.3/js/foundation.min.js"></script>
    <script src="https://cdn.staticfile.org/foundation/5.5.3/js/vendor/modernizr.js"></script>
    <script src="app.js"></script>
    <script>
        $(document).ready(function () {
            $(document).foundation();
        })
    </script>
    </body>
</html>
